<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration>
<configuration scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS}\t%msg%n]]></pattern>
    </encoder>
  </appender>

  <appender name="PERFORMANCE_LOG_FILE"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${app.log.dir:-log}/gw-lib_performance.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${app.log.dir:-log}/performance-%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS}\t%msg%n]]></pattern>
    </encoder>
  </appender>

  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
      <dataSource class="org.apache.commons.dbcp2.BasicDataSource">
        <driverClassName>org.h2.Driver</driverClassName>
        <url>jdbc:h2:mem:testdb</url>
        <username>sa</username>
        <password></password>
      </dataSource>
    </connectionSource>
  </appender>

  <logger name="PerformanceLog" additivity="false">
    <level value="trace" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="PERFORMANCE_LOG_FILE" />
    <appender-ref ref="DB" />
    <<<<<<< HEAD
    =======

    >>>>>>> 8abe628cdc22235656f96d8703a204acbe58541f
  </logger>

  <logger name="org.springframework.test.web.servlet.result">
    <level value="debug" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
